@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar,
.hidescrollbar::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #52dee5;
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #222e50 !important;
}
