@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2.5s;
  }
  .animation-delay-4000 {
    animation-delay: 5s;
  }
}

body::-webkit-scrollbar {
  display: none !important;
}

body {
  overflow: hidden !important;
}

body {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
